<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<div class="container">
		Master data product <br>

		<div align="center">
			<button type="button" class="btn btn-success" id="btn-add"
				onclick="addform()">Tambah product</button>
		</div>

		<!-- The Modal -->
		<div class="modal" id="productModal">
			<div class="modal-dialog">
				<div class="modal-content">
					<!-- Modal Header -->
					<div class="modal-header" style="background-color: silver;">
						<h3 class="modal-title">Product</h3>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
					<!-- Modal body -->
					<div class="modal-body">
						<div class="box-body" id="nonlistproduct"></div>
					</div>

				</div>
			</div>
		</div>

	</div>
	<div class="box-body" id="listproduct"></div>
</body>
<script >
	loadlistprod();
	function loadlistprod() {
		//	var nama=document.getElementById("splrname").value;
		var nama = "";
		var url = "";
		//alert(nama);
		if (nama == "") {
			url = "listprod";
		} else {
			url = "listprodbyname/" + nama;
		}
		//alert(url);
		$.ajax({
			url : url,
			type : 'get',
			dataType : 'html',
			success : function(result) {
				$('#listproduct').html(result);
			}
		});
	}

	function addform() {
		$.ajax({
			url : 'productnew',
			type : 'get',
			dataType : 'html',
			success : function(result) {
				$("#productModal").modal();
				$('#nonlistproduct').html(result);
			}
		});
	}

	function closemodal() {
		$('#productModal').hide();
		$('.modal-backdrop').hide();
		$('.modal-backdrop').remove();

	}
</script>
</html>