<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<!-- //harus ada form digunakan ketika ngambil dari server ke klient pakai get
	// kalau menikkan dari klient ke server pakai post -->

	<form id="dataneworg" action="#" th:object="${org2}" method="post">
		<div class="row">
			<div class="form-group col-md-6	">
				<label>Nama Organisasi *</label> <input type="text"
					class="form-control" id="orgname" name="name" style="width: 100%" />
			</div>
			<div class="form-group col-md-6"margin-left: 2%;>
				<label>Jabatan *</label> <input type="text" class="form-control"
					id="orgposition" name="position" style="width: 100%" />
			</div>
		</div>
		<div class="row">
			<div class="form-group col-md-6	">
				<label>Tahun Masuk *</label> <select style="width: 100%;"
					align="center" class="form-control" id="orgentry" name="entryYear">
					<option>-- pilih --</option>
					<option th:each="year : ${yearItem}" th:value="${year.value}"
						th:text="${year.key}" />
				</select>
			</div>
			<div class="form-group col-md-6"margin-left: 2%;>
				<label>Tahun Keluar *</label> <select style="width: 100%;"
					align="center" class="form-control" id="orgexit" name="exitYear">
					<option>-- pilih --</option>
					<option th:each="year : ${yearItem}" th:value="${year.value}"
						th:text="${year.key}" />
				</select>
			</div>
		</div>
		<div class="row">
			<div class="form-group col-md-12	">
				<label>Tanggung Jawab</label> <input type="text"
					class="form-control" id="orgresponsibility" name="responsibility"
					style="width: 100%" />
			</div>
		</div>
		<div class="row">
			<div class="form-group col-md-12	">
				<label>Catatan</label>
				<textarea class="form-control" rows="5" id="orgnotes" name="notes"></textarea>
			</div>
		</div>
		<div class="row">
			<div class="form-group col-md-12">
				<div class="btn-group" role="group" aria-label="Basic example"
					style="float: right;">
					<button type="button"
						style="margin-top: 2%; background-color: orange; color: white;"
						class="btn btn-secondary" data-dismiss="modal">Batal</button>
					<button type="submit"
						style="margin-top: 2%; background-color: blue; color: white;"
						id="form-klg-add" class="btn btn-success">Simpan</button>
				</div>
			</div>
		</div>

	</form>

</body>
<script>
	$('#dataneworg').submit(function() {
		formData = $('#dataneworg').serialize();
		var name = document.getElementById("orgname").value;
		var position = document.getElementById("orgposition").value;
		var entry = document.getElementById("orgentry").value;
		//alert(entry);
		var exit = document.getElementById("orgexit").value;
		//alert(exit);
		if (name == "" || position == "" || entry == "" || exit == "") {
			alert("kolom bertanda * wajib diisi ")
		} else if (entry > exit) {
			alert("Tahun keluar harus lebih kecil")
		} else {
			$.ajax({
				url : '/saveorg',
				type : 'POST',
				data : formData,
				success : function(result) {
					loadlistorg();
						alert("Data telah ditambahkan");
					refreshpage();
				}
			});
		}
		return false;
	});
</script>
</html>