<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	
	<form action="/signin" method="post">
		<table border="0" cellpadding="10">
			<tr>
				<td>User Name :</td>
				<td><input type="text" id="username" name="nama" /></td>
			</tr>
			<tr>
				<td>password :</td>
				<td><input type="password" name="password" /></td>
			</tr>
			<tr>
				<td colspan="2">
					<button type="submit">login</button>
					<button type="reset">cancel</button>
				</td>
			</tr>
		</table>
	</form>
</body>

</script>
</html>