<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<!-- //harus ada form digunakan ketika ngambil dari server ke klient pakai get
	// kalau menikkan dari klient ke server pakai post -->

	<form id="datanewklg" action="#" th:object="${klg2}" method="post">
		<div class="row">
			<div class="form-group col-md-6	">
				<label>Jenis Susunan Keluarga *</label> <select style="width: 100%;"
					align="left" class="form-control" id="klgfamilytype"
					name="familyTreeTypeId" onchange="historyChanged(this);">
					<option value="0">-- pilih --</option>
					<option th:each="type : ${listFamilyTreeTypeId}"
						th:value="${type.idtype}" th:utext="${type.name}"
						style="widht: 100%;" />
				</select>
			</div>

			<div class="form-group col-md-6" margin-left: 2%; id="id0">
				<label>Hubungan Keluarga *</label> <select style="width: 100%;"
					align="left" class="form-control" id="klgfamilyrelation"
					name="familyRelationId" onchange="historyChanged3(this);">
					<option th:each="relat : ${listFamilyRelationId}" th:value="${relat.idrelat}">-- plih --</option>
					
				</select>
			</div>
			<div class="form-group col-md-6" margin-left: 2%; id="id1">
				<label>Hubungan Keluarga *</label> <select style="width: 100%;"
					align="left" class="form-control" id="klgfamilyrelation"
					name="familyRelationId" onchange="historyChanged1(this);">
					<option value="0">-- plih --</option>
					<option th:each="relat : ${listFamilyRelationId1}"
						th:value="${relat.idrelat}" th:utext="${relat.name}"
						style="widht: 100%;" />

				</select>
			</div>
			<div class="form-group col-md-6" margin-left: 2%; id="id2">
				<label>Hubungan Keluarga *</label> <select style="width: 100%;"
					align="left" class="form-control" id="klgfamilyrelation"
					name="familyRelationId" onchange="historyChanged2(this);">
					<option value="0">-- plih --</option>
					<option th:each="relat : ${listFamilyRelationId2}"
						th:value="${relat.idrelat}" th:utext="${relat.name}"
						style="widht: 100%;" />
				</select>
			</div>
		</div>
		</div>
		<div class="row">
			<div class="form-group col-md-6	">
				<label>Nama *</label> <input type="text" class="form-control"
					id="klgname" name="name" style="width: 100%" />
			</div>
			<div class="form-group col-md-3"margin-left: 2%;>
				<label>Jenis Kelamin</label> <select style="width: 100%;"
					align="left" class="form-control" id="klggender" name="gender">
					<option value="0">-- pilih --</option>
					<option th:each="klg : ${listGender}" th:value="${klg.key}"
						th:utext="${klg.value}" style="widht: 100%;" />
				</select>
			</div>
			<div class="form-group col-md-3"margin-left: 2%;>
				<label>Tanggal Lahir</label> <input type="date" min="1900-01-01"
					max="2019-08-01" class="form-control" id="klgtgl" name="dob"
					style="width: 100%" hidden="hidden" />
			</div>
		</div>
		<div class="row">
			<div class="form-group col-md-6	">
				<label>Pendidikan</label> <select style="width: 100%;" align="left"
					class="form-control" id="klgpendidikan" name="educationLevelId">
					<option value="0">-- pilih --</option>
					<option th:each="edu : ${listEducationLevelId}"
						th:value="${edu.idedu}" th:utext="${edu.name}"
						style="widht: 100%;" />
				</select>
			</div>
			<div class="form-group col-md-6">
				<label>Pekerjaan </label> <input type="text" class="form-control"
					id="klgjob" name="job" style="width: 100%" />
			</div>
		</div>
		<div class="form-group col-md-12">
			<label>Catatan</label>
			<textarea rows="5" style="width: 100%; resize: none;"
				class="form-control" name="notes"></textarea>
		</div>
		<div class="row">
			<div class="form-group col-md-12">
				<div class="btn-group" role="group" aria-label="Basic example"
					style="float: right;">
					<button type="button"
						style="margin-top: 2%; background-color: orange; color: white;"
						class="btn btn-secondary" data-dismiss="modal">Batal</button>
					<button type="submit"
						style="margin-top: 2%; background-color: blue; color: white;"
						id="form-klg-add" class="btn btn-success">Simpan</button>
				</div>
			</div>
		</div>
	</form>

</body>
<script>
	$('#datanewklg')
			.submit(
					function() {

						formData = $('#datanewklg').serialize();

						var name = document.getElementById("klgname").value;
						var susunan = document.getElementById("klgfamilytype").value;
						var hubungan = document
								.getElementById("klgfamilyrelation").value;

						if (name == "" || susunan == "" || susunan == "0"
								|| hubungan == "" || hubungan == "0") {
							alert("kolom bertanda * wajib diisi ")
						} else {
							$.ajax({
								url : '/saveklg',
								type : 'POST',
								data : formData,
								success : function(result) {
									loadlistklg();
									alert("Data telah ditambahkan");
									refreshpage();
								}
							});
						}
						return false;
					});

	function historyChanged() {

		var historySelectList = $('select#klgfamilytype');
		var selectedValue = $('option:selected', historySelectList).val();

		alert(selectedValue);

		
		if (selectedValue == 0) {
			$('#id0').show();
			$('#id1').hide();
			$('#id2').hide();

		} else if (selectedValue == 1) {
			$('#id1').show();
			$('#id0').hide();
			$('#id2').hide();
		} else if (selectedValue == 2) {
			$('#id2').show();
			$('#id0').hide();
			$('#id1').hide();
		}
	
		/*   	$.ajax({
			url : '/saveorg',
			type : 'POST',
			data : formData,
			success : function(result) {
				loadlistorg();
					alert("Data telah ditambahkan");
				refreshpage();
			}
		var e = document.getElementById("klgfamilyrelation");
		$('select#klgfamilyrelation',klgfamilyrelation).val(relat.familyTreeType); */

	}

	function historyChanged1() {

		var historySelectList = $('select#klgfamilyrelation');
		var selectedValue = $('option:selected', historySelectList).val();

		alert(selectedValue);

	}
	
	function historyChanged2() {

		var historySelectList = $('select#klgfamilyrelation');
		var selectedValue = $('option:selected', historySelectList).val();

		alert(selectedValue);

	}
	function historyChanged3() {

		var historySelectList = $('select#klgfamilyrelation');
		var selectedValue = $('option:selected', historySelectList).val();

		alert(selectedValue);

	}
	// When an option is changed, search the above for matching choices
	/* 	$('#klgfamilytype').on('change', function() {
	 // Set selected option as variable
	 var selectValue = $(this).val();

	 // Empty the target field
	 $('#klgfamilyrelation').empty();
	
	 if()
	 // For each chocie in the selected option
	 for (i = 0; i < lookup[selectValue].length; i++) {
	 // Output choice in the target field
	 $('#klgfamilyrelation').append("<option value='" + lookup[selectValue][i] + "'>" + lookup[selectValue][i] + "</option>");
	 }
	 });  */
</script>
</html>