<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<div class="container">
	
	
		<!-- The Modal -->
		<div class="modal fade" id="keluargaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content" style="border-radius:10px 10px 7px 7px;border: 2px solid rgb(0,0,102);">
 
					<div class="modal-header" style="background-color:rgb(0,0,102);border-radius: 5px 5px 0px 0px; color:white;">

					<!-- Modal Header -->
						<button type="button" class="close"  data-dismiss="modal">&times;</button>
						<h3 class="modal-title">Tambah Keluarga</h3>
					</div>
					

					<!-- Modal body -->
					<div class="modal-body">
						<div class="box-body" id="nonlistkeluarga"></div>
					</div>
					<!-- 
					Modal footer-->
					<div class="modal-footer">
					</div>
				</div>
			</div>
		</div>
	</div>
		<div class="container">
	
		<!-- The Modal -->
		<div class="modal fade" id="editkeluargaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
			<div class="modal-dialog" role="document">
			<div class="modal-content" style="border-radius:10px 10px 7px 7px;border: 2px solid rgb(0,0,102);">
 
					<div class="modal-header" style="background-color:rgb(0,0,102);border-radius: 5px 5px 0px 0px; color:white;">

					<!-- Modal Header -->
						<button type="button" class="close"  data-dismiss="modal">&times;</button>
						<h3 class="modal-title">Ubah Keluarga</h3>
					</div>
					

					<!-- Modal body -->
					<div class="modal-body">
						<div class="box-body" id="noneditlistkeluarga"></div>
					</div>
					<!-- 
					Modal footer-->
					<div class="modal-footer">
					</div>
				</div>
			</div>
		</div>
	</div>
	
		<div class="container">
	
		<!-- The Modal -->
		<div class="modal fade" id="deletekeluargaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
			<div class="modal-dialog" role="document">
					<div class="modal-content" style="border-radius:10px 10px 7px 7px;border: 2px solid rgb(153,0,0);">
 
					<div class="modal-header" style="background-color:rgb(153,0,0);border-radius: 5px 5px 0px 0px; color:white;">

					<!-- Modal Header -->
						<button type="button" class="close"  data-dismiss="modal">&times;</button>
						<h3 class="modal-title">Hapus Keluarga?</h3>
					</div>
					

					<!-- Modal body -->
					<div class="modal-body">
						<div class="box-body" id="nondeletelistkeluarga"></div>
					</div>
					<!-- 
					Modal footer-->
					<div class="modal-footer">
					</div>
				</div>
			</div>
		</div>
	</div>
	
		<div class="box-body" id="listkeluarga"></div>
</body>
<script >
	loadlistklg();
	function loadlistklg() {
		//	var nama=document.getElementById("splrname").value;
		var nama = "";
		var url = "";
		//alert(nama);
		if (nama == "") {
			url = "listklg";
		} else {
			url = "listklgbyname/" + nama;
		}
		//alert(url);
		$.ajax({
			url : url,
			type : 'get',
			dataType : 'html',
			success : function(result) {
				$('#listkeluarga').html(result);
			}
		});
	}

function refreshpage(){
		
		$.ajax({
			url : '/keluarga',
			type : 'get',
			dataType : 'html',
			success : function(result) {
				closemodal();
				$('#fragment').html(result);
			}
		});
		return false;
	}
	
	function closemodal() {
		$('#keluargaModal').hide();
		$('.modal-backdrop').hide();
		$('.modal-backdrop').remove();

	}
	
	
</script>
</html>