<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="../js/jquery.dataTables.min.js"></script>
<link href="../css/jquery.dataTables.min.css" rel="stylesheet">
<title>Insert title here</title>
</head>
<body>
	<div class="row">

		<div class="form-group col-md-6">
			<div class="form-group col-md-8">
				<input type="text" class="form-control" placeholder="Type Here"
					id="search-field">
			</div>
			<div class="form-group col-md-4">
				<button type="button" style="background-color: rgb(0, 0, 102);"
					class="btn btn-default" id="btn-search">
					<i style="color: white" class="fa fa-search"></i>
				</button>
			</div>
		</div>
		<div class="form-group col-md-6" align="right">
			<div class="form-group col-md-1" style="float: right; margin: right">
				<i class="fa fa-plus-circle"
					style="font-size: 24px; cursor: pointer; color: rgb(0, 0, 102);"
					id="btn-add" onclick="addform()"></i>
			</div>

			<div class="form-group col-md-1" style="float: right; margin: right">
				<div class="dropdown">
					<i class="fa fa-bars"
						style="font-size: 24px; cursor: pointer; color: rgb(0, 0, 102);"
						id="btn-total" type="button" data-toggle="dropdown"><span
						class="caret"></span> </i>
					<ul class="dropdown-menu">
						<div class="dropdown-header" style="color:blue">row per page</div>
						<li class="dropdown-item" id="10"><a style="color:rgb(0,0,102)">10</a></li>
						<li class="dropdown-item" id="20"><a style="color:rgb(0,0,102)">20</a></li>
						<li class="dropdown-item" id="30"><a style="color:rgb(0,0,102)">30</a></li>
						<li class="dropdown-item" id="40"><a style="color:rgb(0,0,102)">40</a></li>
						<li class="dropdown-item" id="50"><a style="color:rgb(0,0,102)">50</a></li>

					</ul>
				</div>
			</div>
			<div class="form-group col-md-1" style="float: right; margin: right">
				<div class="dropdown">
					<i class="fa fa-sort"
						style="font-size: 24px; cursor: pointer; color: rgb(0, 0, 102);"
						id="btn-sort" type="button" data-toggle="dropdown"><span
						class="caret"></span> </i>
					<ul  class="dropdown-menu">
						<div style="color:blue" class="dropdown-header">order</div>
						<li  class="dropdown-item" id="asc"><a style="color:rgb(0,0,102)">Ascending</a></li>
						<li class="dropdown-item" id="desc"><a style="color:rgb(0,0,102)">Descending</a></li>
					</ul>
				</div>
			</div>

		</div>
	</div>


	<form id="rlglist" action="#" th:object="${rlg2}" method="post">

		<table style="width: 100%;">
			<thead>
				<tr style="border-bottom: 3px solid rgb(0, 0, 102);">
					<th style="width: 100%;"></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td style="width: 100%; color: white">a</td>
				</tr>
				<tr style="border-bottom: 2px solid rgb(0, 0, 102);">

					<td style="width: 100%;"></td>
				</tr>
			</tbody>
		</table>

		<table style="width: 100%;" id="tbreligion"
			class="table table-striped">
			<thead>
				<tr
					style="border-bottom: 3px solid rgb(0, 0, 102); color: rgb(0, 0, 102)">
					<th>name</th>
					<th class="no-sort">description</th>
					<th class="no-sort">#</th>
				</tr>
			</thead>
			<tbody>
				<tr
					style="border-top: 2px solid rgb(0, 0, 102); color: rgb(0, 0, 102)"
					th:each="religion : ${listReligion}">
					<td style="width: 40%;" th:text="${religion.name}">Nama <b
						style="color: red"> *</b></td>
					<td style="width: 50%;" th:text="${religion.description}">description</td>
					<td style="width: 10%;" align="right">
						<div class="dropdown">
							<button class="btn btn-primary dropdown-toggle" type="button"
								data-toggle="dropdown" style="background-color: rgb(0, 0, 102);">
								More <span class="caret"></span>
							</button>
							<ul class="dropdown-menu">
								<li class="dropdown-item"
									th:href="@{'/rlgedit/' + ${religion.idrlg}}"
									onclick="EditFunctionEdit(this);"
									data-target="#editreligionModal"><a>Ubah</a></li>
								<li class="dropdown-item"
									th:href="@{'/rlgeditdel/' + ${religion.idrlg}}"
									onclick="EditFunction(this);"
									data-target="#deletereligionModal"><a href="#">Hapus</a></li>
							</ul>
						</div> <!-- 		<button type="button" class="btn btn-warning" id="btn-edit"
						th:href="@{'/rlgedit/' + ${religion.idrlg}}"
						onclick="EditFunctionEdit(this);" data-target="#editreligionModal">Ubah</button>

						<button type="button" class="btn btn-danger" id="btn-delete"
						th:href="@{'/rlgeditdel/' + ${religion.idrlg}}"
						onclick="EditFunction(this);" data-target="#deletereligionModal">Hapus</button>
 						-->
					</td>
				</tr>
			</tbody>

			<tfoot>
			</tfoot>
		</table>
		<div align="right">
			<br>
			<button type="button" style="background-color:rgb(0,0,102);" class="btn btn-warning btn-rounded:50%"
				id="prevpage">
				<i style="color: white" class="fa fa-long-arrow-left"></i> previous
			</button>
			<button type="button" style="background-color:rgb(0,0,102); outline-color:rgb(0,0,102)" class="btn btn-warning btn-radius:16px"
				id="nextpage">
				next <i style="color: white" class="fa fa-long-arrow-right"></i>
			</button>
		</div>
	</form>
</body>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script>
	function EditFunctionEdit(d) {
		var x = d.getAttribute("href");
		$.ajax({
			url : x,
			type : 'get',
			dataType : 'html',
			success : function(result) {
				$("#religionModal").modal();
				$('#nonlistreligion').html(result);
			}
		});

	}

	function EditFunction(d) {
		var x = d.getAttribute("href");
		$.ajax({
			url : x,
			type : 'get',
			dataType : 'html',
			success : function(result) {
				$("#deletereligionModal").modal();
				$('#nondeletelistreligion').html(result);
			}
		});

	}

	function addform() {
		$.ajax({
			url : 'religionnew',
			type : 'get',
			dataType : 'html',
			success : function(result) {
				$("#religionModal").modal();
				$('#nonlistreligion').html(result);
			}
		});
	}

	$('#btn-search').on('click', function() {
		formData = $('#btn-search').serialize();
	//	alert(formData);
		var search = $('#search-field').val();
		var url = "searchrlg/" + search;
		///alert(url);
		$.ajax({
			url : url,
			type : 'POST',
			data : formData,
			success : function(result) {
			//	alert(result);
				loadlistrlg();
				//alert("Data telah dihapus");
				refreshpage();
			}
		});
		return false;
	});

	$(document).ready(function() {
		$('#tbreligion').dataTable({
			"dom" : 'rt',
			"ordering" : true,
			"columnDefs" : [ {
				orderable : false,
				targets : "no-sort"
			} ],
		/* 	"initComplete" : function(settings, json) {
			    $('.dataTables_paginate').appendTo('body');
			} */
		});
		oTable = $('#tbreligion').DataTable();
		$('#asc').on('click', function() {
			oTable.order([ 0, 'asc' ]).draw();
		});
		oTable = $('#tbreligion').DataTable();
		$('#desc').on('click', function() {
			oTable.order([ 0, 'desc' ]).draw();
		});
		oTable = $('#tbreligion').DataTable();
		$('#nextpage').on('click', function() {
			oTable.page('next').draw(false);
		});
		oTable = $('#tbreligion').DataTable();
		$('#prevpage').on('click', function() {
			oTable.page('previous').draw(false);
		});
		
		oTable = $('#tbreligion').DataTable();
		$('#10').on('click', function() {
			 oTable.page.len(10).draw(false);
		});
		oTable = $('#tbreligion').DataTable();
		$('#20').on('click', function() {
			 oTable.page.len(20).draw(false);
		});

		oTable = $('#tbreligion').DataTable();
		$('#30').on('click', function() {
			 oTable.page.len(30).draw(false);
		});

		oTable = $('#tbreligion').DataTable();
		$('#40').on('click', function() {
			 oTable.page.len(40).draw(false);
		});

		oTable = $('#tbreligion').DataTable();
		$('#50').on('click', function() {
			 oTable.page.len(50).draw(false);
		});

		var oTable = $('#tbreligion').DataTable();
		$('#btn-search').click(function() {
			oTable.search($("#search-field").val()).draw();
		});

		// EDIT: Capture enter press as well
		$("#search-field").keypress(function(e) {
			// You can use $(this) here, since this once again refers to your text input            
			if (e.which === 13) {
				e.preventDefault(); // Prevent form submit
				oTable.search($(this).val()).draw();
			}
		});

	});
</script>
</html>